.topbar {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.625em;

  /* flex: 1; */
}

.topbar>* {
  flex: 1;
  /* height: 1em; */
  background-color: var(--primary);

  padding: 1em;
  height: 100%;
}


@media (max-width: 1000px) {
  .topbar {
    flex-direction: column;
    width: auto;
  }

  .topbar>* {
    width: 100%;
  }
}