.addStudent {
  display: flex;
  flex-direction: column;

  padding: 0.625em;
  gap: 0.625em;
  /* width: 50%; */
  justify-content: flex-start;
  /* align-items: center; */
}

.addStudent a {
  width: fit-content;
  text-decoration: none;

  color: var(--white);
  background-color: var(--primary);
  padding: 0.625em 1em;
  border-radius: 20px;

  font-weight: 500;
}

.addStudent a:hover,
.addStudent a:focus {
  background-color: var(--primary-2);
  transition: 150ms ease-in-out;
}

.addStudent a:active {
  background-color: var(--primary);
}

.addStudent .addStudentForm {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  /* gap: 1em; */
}

.addStudent .addStudentForm .addStudentFormNames {
  display: flex;
  gap: 0.625em;

  flex-wrap: wrap;
}

.addStudent .addStudentForm .addStudentFormNames>* {
  flex: 1;
}

.addStudent .addStudentForm .inputGroup {
  display: flex;
  flex-direction: column;
  /* width: inherit; */
  gap: 0.5em;
}

.addStudent .addStudentForm .inputGroup input {
  padding: 0.625em 1em;
  font-size: inherit;
}

.addStudent .addStudentForm .inputGroup label {
  color: var(--text-dark);
}

.addStudent .addStudentForm button {
  width: fit-content;
  align-self: center;
  padding: 0.625em 1.5em;

  border: none;
  outline: none;

  font-size: 1em;
  font-weight: 400;

  color: var(--white);
  background-color: var(--primary);
  border-radius: 20px;

  cursor: pointer;

  /* padding: 0.5em 1em; */

  /* transition: background-color 150ms ease-in-out; */

}

.addStudent .addStudentForm button:hover,
.addStudent .addStudentForm button:focus {
  background-color: var(--primary-2);
  transition: 100ms ease-in-out;
}

.addStudent .addStudentForm button:focus {
  outline: 2px solid black;
}

.addStudent .addStudentForm button:active {
  background-color: var(--primary);
}